<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>ショッピング</title>
</head>
<body>
	<h1>商品一覧</h1>
	<div
		style="padding: 10px; margin-bottom: 10px; border: 1px solid #333333; width: 300px;"
		th:each="itemList : ${itemList}">
		<form action="#" th:action="@{/list}" th:object="${listForm}"
			method="post">
			<input type="hidden" name="itemId" th:value="${itemList.itemId}">
			<!--  <input type="hidden" value="${itemList.itemId}" th:field="*{itemId}">-->
			<p th:text="${itemList.itemId}"></p>
			<p th:text="${itemList.name}"></p>
			<tr>
				<td>個数：</td>
				<td><input type="number" name="example1" th:field="*{number}"
					value="0"></td>
			</tr>
			<button type="submit" name="addCard">カートに追加</button>
		</form>
	</div>

	<h1>カート</h1>
	<div th:each="orderList : ${cart.orderList}">
		<div th:each="itemList : ${itemList}">
			<dev th:if="${orderList.itemId}==${itemList.itemId}">
			<tr>
				<td>商品名：</td>
				<td th:text="${itemList.name}"></td>
			</tr>
			<tr>
				<td>個数：</td>
				<td th:text="${orderList.num}"></td>
			</tr>
			<tr>
				<td>単価：</td>
				<td th:text="${itemList.price}"></td>
			</tr>
						<tr>
				<td>合計：</td>
				<td th:text="${orderList.num}*${itemList.price}"></td>
			</tr>
		</div>
	</div>
</body>
</html>